{% extends 'Main/base.html' %}
{% load static %}

{% block extraCSS %}
<link rel="stylesheet" href="{% static 'index_style.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">

    <form class="form-floating" method="get" action="{% url 'analysis' %}">
        <div>
            <h2 style="text-align: center">Enter Twitter Handle</h2>
            <div class="form-floating mb-3">
                <input type="search" class="form-control" id="floatingInput" name="analysisSearch" placeholder="@TwitterUser">
                <label for="floatingInput">Enter Twitter Handle (Ex. @Jack)</label>
                <button class="btn btn-primary" type="submit" style="margin:0 auto; display:block;">Get 5 Factor Score</button>

            </div>
        </div>
    </form>
</div>
{% endblock %}